<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (click)="menuTrigger.openMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <span (click)="menuTrigger.closeMenu()">
        <button routerLink="/" mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button routerLink="/heroes" mat-menu-item>
          <mat-icon>supervised_user_circle</mat-icon>
          <span>Heroes list</span>
        </button>
      </span>
    </mat-menu>
  </span>
  <span routerLink="/" class="link fill-remaining-space">Heroes Application</span>
</mat-toolbar>