mat-table, 
mat-paginator {
    width: auto;
    margin: auto;
}

.search-wrapper {
    width: 100%;
    max-width: 200px;
    overflow: hidden;
    .search {
        width: 100%;
        height: 48px;
        line-height: 48px;
        padding: 0px 0px 0px 18px;
        input {
            width: 100%;
            height: 48px;
            min-height: 48px;
            max-height: 48px;
            border-radius: 15px;
            padding: 0 16px;
            // outline: none;
        }
    }
}

.button-container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%; 
    text-align: end;
}

.mat-header-cell {
    text-align: center;
    vertical-align: middle;
}

.mat-column-id {
    flex: 0 0 5% !important;
    width: 5% !important;
}

.mat-column-name {
    flex: 0 0 10% !important;
    width: 10% !important;
}

.mat-column-description {
    flex: 0 0 15% !important;
    width: 15% !important;
}

.mat-column-actions {
    flex: 0 0 10% !important;
    width: 2% !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

td {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255,255,255,.12);
}

.link {
    color: #673ab7;
    cursor: pointer;
}